.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.body-cards--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;    
}

.plans-container--slider{
    overflow-x: unset;
}

.product-detail--card {
    min-height: 240px;
}